<container-block [title]='"pages.chat.title" | translate' [center]='true'>
  <div id='chat-room' *ngIf='chats.length'>
    <tabs-partial [tabs]='tabsArray' [currentTab]='currentTab' (currentTabChange)='switchChatRooms($event)'></tabs-partial>

    <div class='row'>
      <div class='col-xs-12 chat-header'>
        <textarea-partial uniqId='chatroom-textarea' placeholder='Message' (onSubmit)='onSend($event)' [keyPress]='true'></textarea-partial>
      </div>
    </div>

    <div class='chat-message-container'>
      <div *ngFor='let message of chatMessages trackBy: message?.id' class='chat-messages'>
        <div class='row'>
          <div class='col-xs-12 chat-message-header'>
            <span class='pull-left'>{{ message.user.username }}</span>
            <date-partial class='pull-right' [date]='message.created_at'></date-partial>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12 chat-message-body'>
            <div [innerHTML]='parseBBcode(message)'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</container-block>
