<container-block [title]='"Chat"' [center]='true'>
  <div id='chat-room' *ngIf='chats.length'>
    <tabs-partial [tabs]='tabsArray' [currentTab]='currentTab' (currentTabChange)='switchChatRooms($event)'></tabs-partial>

    <div class='row'>
      <div class='col-xs-12 chat-header'>
        <bbcode-partial target='chatroom-textarea'></bbcode-partial>
        <div class='input-group'>
          <textarea [(ngModel)]='message' (keydown)='onKeyPress($event)' id='chatroom-textarea' class='form-control dynamic-no-emoji' placeholder='Message' rows='2'></textarea>
          <span class='input-group-addon cursor-pointer' (click)='onSend()'>
            <span class='glyphicon glyphicon-comment'></span>
          </span>
        </div>
      </div>
    </div>

    <div class='chat-message-container'>
      <div *ngFor='let message of chatMessages trackBy: message?.id' class='chat-messages'>
        <div class='row'>
          <div class='col-xs-12 chat-message-header'>
            <span class='pull-left'>{{ message.user.username }}</span>
            <date-partial class='pull-right' [date]='message.created_at'></date-partial>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12 chat-message-body'>
            <div [innerHTML]='parseBBcode(message)'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</container-block>
