.comments-section
  & > textarea-partial
    margin-top: $size-default-container-space
  .comments-list
    border-bottom: 3px solid
    padding: $size-default-container-space 0
    .comments-item
      margin-top: $size-default-container-space
      &:first-of-type
        margin-top: 0px
      .comments-header, .comments-body
        border: 1px solid
        padding: 5px
      .comments-header
        border-bottom: 0px
        .comments-action
          span.fa
            margin-right: 5px
      .comments-body
        border-top: 0px
