.comments-section
  margin-top: $size-default-container-space
  .input-group
    margin-bottom: $size-default-container-space*2
  .comments-list
    .comments-item
      border: 1px solid
      margin-top: $size-default-container-space
      &:first-of-type
        margin-top: 0px
      .comments-header, .comments-body
        padding: 5px
