<div class='poll-block' *ngIf='poll'>
  <div class='poll-header'>
    <a routerLink='/polls/view/{{ poll.id }}' *ngIf='!view'>{{ poll.title }}</a>

    <span *ngIf='view'>
      {{ poll.title }}
      <date-partial [date]='poll.created_at'></date-partial>
      <rate-partial type='poll' [id]='poll.id' class='pull-right'></rate-partial>
    </span>
  </div>

  <div class='poll-body' *ngFor='let question of questions'>
    <div class='poll-answers' *ngIf='answered'>
      <div>{{ question.question }}</div>

      <div class='poll-progress'>
        <div class='poll-progress-full' [style]='question.widthStyle'>
          {{ question.percent }}%
        </div>
      </div>
    </div>

    <div class='poll-questions' *ngIf='!answered'>
      <input id='answer-{{ question.id }}-{{ uniqId }}' class='radio-custom' name='radio-group-{{ uniqId }}' type='radio' [(ngModel)]='selectedQuestion' [value]='question.id'>
      <label [attr.for]='"answer-" + question.id + "-" + uniqId'>{{ question.question }}</label>
    </div>
  </div>

  <div class='poll-button text-center'>
    <button class='btn btn-generic pull-left' (click)='vote()' *ngIf='!answered'>Vote</button>
    <span class='poll-vote-count'>(total {{ totalAnswers }} {{ totalAnswers == 1 ? 'vote' : 'votes' }})</span>
  </div>

  <ng-content></ng-content>
</div>
