<div class='comments-section'>
  <textarea-partial uniqId='comments-textarea' placeholder='Comment' (onSubmit)='create($event)'></textarea-partial>

  <pagination [total]='comments.length' [items]='comments' (onPage)='changePage($event)'>
    <div class='comments-list'>
      <div class='comments-item' *ngFor='let comment of currentComments'>
        <span *ngIf='!comment.editing'>
          <div class='comments-header'>
            <user-partial [user]='comment.user'></user-partial>

            <span class='pull-right'>{{ comment.created_at }}</span>

            <span class='pull-right' *ngIf='currentUser.canModerate(comment.user.id)'>
              <span class='fa fa-trash' (click)='destroy(comment)'></span>
              <span class='fa fa-pencil' (click)='edit(comment)'></span>
            </span>
          </div>
          <div class='comments-body' [innerHTML]='parseBBcode(comment)'></div>
        </span>

        <span *ngIf='comment.editing'>
          <textarea-partial uniqId='comments-textarea-edit-{{ comment.id }}' placeholder='Comment' [value]='comment.body' (onSubmit)='update(comment, $event)'></textarea-partial>
        </span>
      </div>
    </div>
  </pagination>
</div>
