<div class='comments-section'>
  <pagination [total]='(commentList | async).length' [items]='commentList | async' (onPage)='changePage($event)' *ngIf='(commentList | async).length'>
    <div class='comments-list'>
      <div class='comments-item' *ngFor='let comment of currentComment | async'>
        <span *ngIf='!comment.editing'>
          <div class='comments-header'>
            <user-partial [user]='comment.user'></user-partial>
            <date-partial [date]='comment.created_at'></date-partial>

            <span class='pull-right comments-action'>
              <rate-partial type='comment' [id]='comment.id' [data]='comment.rateData || {}'></rate-partial>
              <span class='fa fa-pencil cursor-pointer' (click)='edit(comment)' *ngIf='currentUser.canModerate(comment.user.id)'></span>
              <span class='fa fa-trash cursor-pointer' (click)='destroy(comment)' *ngIf='currentUser.canModerate(comment.user.id)'></span>
            </span>
          </div>
          <div class='comments-body' [innerHTML]='parseBBcode(comment)'></div>
        </span>

        <span *ngIf='comment.editing'>
          <textarea-partial uniqId='comments-{{ comment.id }}' placeholder='Comment' [value]='comment.body'
            (onSubmit)='update(comment, $event)' (onCancel)='edit(comment)' [canCancel]='true'
            >
          </textarea-partial>
        </span>
      </div>
    </div>
  </pagination>

  <textarea-partial uniqId='comments-textarea' placeholder='Comment' (onSubmit)='create($event)'></textarea-partial>
</div>
