$color-input-background: #fff
$color-input-border: $color-center-title-background

.checkbox-custom, .radio-custom
  opacity: 0
  position: absolute
  display: inline-block
  vertical-align: middle
  margin: 5px
  cursor: pointer

.checkbox-custom + label:before, .radio-custom + label:before
  content: ''
  background: $color-input-background
  border: 3px solid $color-input-border
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  margin-right: 10px
  text-align: center

.radio-custom:checked + label:before,
.checkbox-custom:checked + label:before
  background: $color-input-border
  border-color: $color-input-background

.radio-custom + label:before
  border-radius: 50%
