my-app
  @include display-flex
  flex-direction: column
  min-height: 100vh

body
  font-family: 'Open Sans', sans-serif

textarea
  resize: none

button
  outline: none

.modal-backdrop.in
  opacity: 0.7

.form-control
  border-radius: 0

.cursor-pointer
  cursor: pointer

.no-border-radius
  border-radius: 0
