@mixin display-flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin align-self($property)
  -webkit-align-self: $property
  align-self: $property

@mixin ribbon-colors($color, $darker-1, $darker-2)
  .ribbon-container
    background: $color
    &.ribbon-left:before
      border-color: $darker-1
      border-left-color: transparent
    .ribbon-content:before
      border-color: $darker-2 transparent transparent transparent
  .ribbon-triangle-right
    border-color: transparent transparent transparent $color

@mixin button-colors($color)
  color: $color
  border-color: $color
  transition: all 0.25s
  &:hover, &:active, &.active
    background-color: $color !important
