.list-group
  @include display-flex
  flex-flow: wrap
  .list-item
    flex: 1
    flex-basis: 100%
    margin: 5px 0
    a
      color: #333
      display: block
      padding: 5px 10px
      border: 1px solid #00BEE9
      .fa
        width: 16px
        height: 16px
      &:hover, &:active, &:focus, &.active
        border-left-width: 7.5px
        .fa
          color: #00BEE9
