<div id='home-block'>
  <div class='notification-block'>
    <div class='notification-container animated bounceInDown'>
      <div class='notification-header'>
        <span class='pull-left'>Title</span>
        <span class='pull-right fa fa-times cursor-pointer'></span>
      </div>

      <div class='ribbon-block ribbon-danger'>
        <div class='ribbon-container ribbon-left text-center'>
          <strong class='ribbon-content'><i class='fa fa-exclamation' aria-hidden='true'></i></strong>
        </div>
        <div class='ribbon-triangle-right'></div>

        <span class='notification-body'>Text</span>
      </div>
    </div>

    <div class='notification-container animated bounceInDown'>
      <div class='notification-header'>
        <span class='pull-left'>Title</span>
        <span class='pull-right fa fa-times cursor-pointer'></span>
      </div>

      <div class='ribbon-block ribbon-success'>
        <div class='ribbon-container text-center'>
          <strong class='ribbon-content'><i class='fa fa-check' aria-hidden='true'></i></strong>
        </div>
        <div class='ribbon-triangle-right'></div>

        <span class='notification-body'>Text</span>
      </div>
    </div>

    <div class='notification-container animated bounceInDown'>
      <div class='notification-header'>
        <span class='pull-left'></span>
        <span class='pull-right fa fa-times cursor-pointer'></span>
      </div>

      <div class='ribbon-block ribbon-info'>
        <div class='ribbon-container ribbon-left text-center'>
          <strong class='ribbon-content'><i></i></strong>
        </div>
        <div class='ribbon-triangle-right'></div>

        <span class='notification-body'>Text</span>
      </div>
    </div>

    <div class='notification-container animated bounceInDown'>
      <div class='notification-header'>
        <span class='pull-left'>Title</span>
        <span class='pull-right fa fa-times cursor-pointer'></span>
      </div>

      <div class='ribbon-block ribbon-warning'>
        <div class='ribbon-container ribbon-left text-center'>
          <strong class='ribbon-content'><i class='fa fa-exclamation-triangle' aria-hidden='true'></i></strong>
        </div>
        <div class='ribbon-triangle-right'></div>

        <span class='notification-body'>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</span>
      </div>
    </div>
  </div>

  <app-header></app-header>
  <app-body></app-body>
</div>
