<header-layout></header-layout>

<main id='main-block'>
  <notification-block></notification-block>

  <div class='container-fluid main-container header-helper hidden-xs'>
    <div class='triangle pull-left'></div>
    <div class='triangle pull-right'></div>

    <preference-changer></preference-changer>
  </div>

  <div class='container-fluid main-container' id='home-layout'>
    <div class='col-xs-12 col-sm-12 col-md-7 col-md-push-2 center-column'>
      <router-outlet></router-outlet>
    </div>

    <div class='col-xs-12 col-sm-6 col-md-2 col-md-pull-7 left-column'>
      <container-block header='menus.user.title'>
        <user-menu></user-menu>
      </container-block>
    </div>

    <div class='col-xs-12 col-sm-6 col-md-3 col-md-push-0 right-column'>
      <container-block header='menus.online.title'>
        <online-menu></online-menu>
      </container-block>

      <container-block header='menus.poll.title'>
        <poll-menu></poll-menu>
      </container-block>
    </div>
  </div>
</main>

<footer-layout></footer-layout>
