<div id='home-block'>
  <notification-block></notification-block>

  <nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid main-container'>
      <div class='navbar-header'>
        <button aria-expanded='false' class='navbar-toggle collapsed' (click)='isCollapsed = !isCollapsed' type='button'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>

        <a class='navbar-brand' routerLink='/'>Heal</a>
      </div>

      <div class='collapse navbar-collapse' id='header-navbar' [collapse]='isCollapsed'>
        <ul class='nav navbar-nav navbar-right'>
          <li>
            <a routerLink='/'>Home</a>
          </li>
          <li>
            <a routerLink='/chat' routerLinkActive='active'>Chat</a>
          </li>
          <li>
            <a href='/logout'>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container-fluid main-container header-helper hidden-xs'>
    <div class='triangle pull-left'></div>
    Hey
    <div class='triangle pull-right'></div>
  </div>

  <div class='container-fluid main-container' id='home-layout'>
    <div class='col-xs-12 col-sm-12 col-md-6 col-md-push-3 center-column'>
      <router-outlet></router-outlet>
    </div>

    <div class='col-xs-12 col-sm-6 col-md-3 col-md-push-3 right-column'>
      <container-block [title]='"Online"'>
        <online-users></online-users>
      </container-block>

      <container-block [title]='"Poll"'>
        <poll-menu></poll-menu>
      </container-block>
    </div>

    <div class='col-xs-12 col-sm-6 col-md-3 col-md-pull-9 left-column'>
      <container-block [title]='"Left"'>Hello</container-block>
      <container-block [title]='"Left"'>Hello</container-block>
      <container-block [title]='"Left"'>Hello</container-block>
    </div>
  </div>
</div>
