.bbcode-toolbar
  .bbcode-button
    display: inline-block
    border: 1px solid #ccc
    padding: 5px 10px
    margin-right: 2px
    margin-bottom: 2px
    &:focus, &:active, &:hover
      background-color: #ddd
    .fa-paint-brush
      color: red
