.header-helper
  background-color: white
  line-height: 2
  .triangle
    width: 0
    height: 0
    border-style: solid
    &.pull-left
      padding-left: 15px
      border-width: 30px 0 0 30px
      border-color: transparent transparent transparent $color-main-background
    &.pull-right
      padding-right: 15px
      border-width: 30px 30px 0 0
      border-color: transparent $color-main-background transparent transparent

nav.navbar
  margin-bottom: 0px
  border-bottom: none
  background-color: $color-header-background
  .navbar-brand
    color: white
  .main-container
    padding-left: 10px
    padding-right: 10px
    #header-navbar
      li
        a
          color: white
          outline: none
          margin-left: 5px
          border-left: 3px solid transparent
          @media (min-width: $screen-sm-min)
            margin-left: 0
            border-left: 0
            border-top: 3px solid transparent
        &:hover > a, &> a.active
          border-color: white
