.poll-block
  .poll-header
    margin-bottom: 10px
  .poll-body
    .poll-progress
      $size-border-radius: 10px
      background-color: $color-main-background
      border-radius: $size-border-radius
      .poll-progress-full
        padding-left: 5px
        min-width: 3.5rem
        background-color: $color-center-title-background
        border-radius: $size-border-radius
