$color-main-background: #F1F1F1
$color-header-background: #CC0000
$color-center-title-background: #00BEE9
$size-container-max-width: 1460px
$size-default-container-space: 15px

body
  background-color: $color-main-background

#home-block
  @import "_header.sass"
  @import "_chat-room.sass"
  @import "_bbcode.sass"
  @import "../dependencies/xbbcode"
  padding-top: 53px

  .main-container
    max-width: $size-container-max-width
    padding-left: 0
    padding-right: 0
  #home-layout
    margin-top: 50px

    .left-column, .center-column, .right-column
      margin-bottom: $size-default-container-space
      padding-left: $size-default-container-space/2
      padding-right: $size-default-container-space/2
    .left-column, .right-column
      .container-block
        padding: $size-default-container-space
        .container-title
          border-bottom: 3px solid $color-header-background
          font-size: 16px
          margin-bottom: $size-default-container-space
    .center-column
      .container-block
        $size-top-border: 8px
        $size-space-heigth: 40px

        .container-header
          @include display-flex
          .container-title
            border-top: $size-top-border solid white
            padding-right: 20px
            padding-left: 20px
            font-size: 20px
          .container-space
            @include display-flex
            border-top: $size-top-border solid $color-main-background
            background-color: $color-center-title-background
            width: 100%
            height: $size-space-heigth
            .triangle
              width: 0
              height: 0
              border-style: solid
              border-width: $size-space-heigth 0 0 $size-space-heigth
              border-color: transparent transparent transparent white
              margin-top: -$size-top-border
              @include align-self(flex-end)
        .container-body
          padding: $size-default-container-space
    .container-block
      background-color: white
      margin-bottom: $size-default-container-space
