footer
  svg
    height: unset
    display: none
  .monitor-section
    padding-bottom: 30px
    .container-fluid
      @include display-flex
      width: $size-container-max-width
      .monitor
        width: 100%
        span
          margin: auto
          display: table
