main#main-block
  @import "../pages/_chat-room"
  @import "../pages/_polls"
  @import "../pages/_articles"
  @import "../pages/_users"

  @import "../elements/_header-helper"
  @import "../elements/_bbcode"
  @import "../elements/_notification"
  @import "../elements/_poll"
  @import "../elements/_pagination"
  @import "../elements/_rate"
  @import "../elements/_comments"
  @import "../elements/_textarea"
  @import "../elements/_breadcrumb"
  @import "../elements/_tabs"
  @import "../elements/_datepicker"
  @import "../elements/_popover"
  @import "../elements/_file"

  @import "../../dependencies/xbbcode"

  @include prefix-elem((flex: 1), webkit moz ms)
  padding-top: $size-header-height

  bbcode-partial + .input-group > .form-control
    padding: 1.5%

  .main-container
    max-width: $size-container-max-width
    padding-left: 0
    padding-right: 0
  #home-layout
    margin-top: $size-header-height/2
    .left-column, .center-column, .right-column
      margin-bottom: $size-default-container-space
      padding-left: $size-default-container-space/2
      padding-right: $size-default-container-space/2
    .left-column, .right-column
      .container-block
        padding: $size-default-container-space
        .container-title
          border-bottom: 3px solid
          font-size: 16px
          margin-bottom: $size-default-container-space
    .center-column
      .container-block
        $size-top-border: 8px
        $size-space-heigth: 40px

        .container-header
          @include display-flex
          .container-title
            border-top: $size-top-border solid
            padding-right: 20px
            padding-left: 20px
            font-size: 20px
          .container-space
            @include display-flex
            border-top: $size-top-border solid
            width: 100%
            height: $size-space-heigth
            .triangle
              width: 0
              height: $size-space-heigth
              border-style: solid
              border-width: $size-space-heigth 0 0 $size-space-heigth
              margin-top: -$size-top-border
              @include prefix-elem((flex-end: 1), webkit moz ms)
        .container-body
          padding: $size-default-container-space
    .container-block
      margin-bottom: $size-default-container-space
      .form-control-error
        color: #CC0000
