#authorization-container
  #send-form.middle-of
    = form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
      .grouped-form-element
        .form-group
          = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'username'
      .circle-block.outer-circle.middle-of
        = f.button '', class: 'circle-block inner-circle middle-of fa fa-play'
    = render 'devise/shared/links'
