<span class='rate-section'>
  <a (click)='ratingModal.modal.show()' class='cursor-pointer' *ngIf='ratings.length'>Ratings ({{ ratingSum }})</a>

  <span class='rate-button cursor-pointer'>
    <span class='rate-element {{ userIcon }}' (click)='showRateOptions = !showRateOptions' *ngIf='!showRateOptions'></span>

    <span *ngIf='showRateOptions'>
      <span class='rate-element {{ rateIcon }}' (click)='rate(rateIcon)' *ngFor='let rateIcon of rateOptions'></span>
    </span>
  </span>

  <div modal-partial #ratingModal title='Ratings' size='sm'>
    <div class='rating-view' *ngFor='let rating of currentRatings'>
      <user-partial [user]='rating.voter'></user-partial>
      <span class='pull-right badge {{ plusOrMinus(rating.vote) }}'></span>
    </div>

    <pagination [total]='ratings.length' [items]='ratings' (onPage)='changePage($event)'></pagination>

    <div class='text-center'>
      (total {{ ratings.length }} ratings)
    </div>
  </div>
</span>
