<div class='container-fluid main-container' id='home-layout'>
  <div class='col-xs-12 col-sm-12 col-md-6 col-md-push-3 center-column'>
    <router-outlet></router-outlet>
  </div>

  <div class='col-xs-12 col-sm-6 col-md-3 col-md-push-3 right-column'>
    <container-block [title]='"Online"'>
      <online-users></online-users>
    </container-block>
  </div>

  <div class='col-xs-12 col-sm-6 col-md-3 col-md-pull-9 left-column'>
    <container-block [title]='"Left"'>Hello</container-block>
    <container-block [title]='"Left"'>Hello</container-block>
    <container-block [title]='"Left"'>Hello</container-block>
  </div>
</div>
