#authorization-container
  #login-form.col-xs-12.col-sm-2.middle-of
    = form_for(@user, url: session_path(@user)) do |f|
      .form-group
        = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'username'
      .form-group
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'password'
      .circle-block.outer-circle.middle-of
        = f.button '', class: 'circle-block inner-circle middle-of fa fa-play'
    .form-links.text-center
      forgot password? register
