<div class='article-item' *ngFor='let article of (articleList | async)?.articles'>
  <div class='article-header'>
    <span class='article-tile'>{{ article.title }}</span>
    <date-partial [date]='article.created_at'></date-partial>

    <span class='pull-right'>
      <user-partial [user]='article.user'></user-partial>
    </span>
  </div>

  <div class='article-body'>
    <img class='article-image img-responsive hidden-xs' [src]='article.image' [title]='article.title' />
    {{ article.description }}
  </div>

  <div class='article-footer text-right'>
    <a routerLink='/articles/view/{{ article.id }}'>{{ 'pages.article.read_more' | translate }}</a>
  </div>
</div>

<pagination [total]='(articleList | async)?.totalCount' [page]='(articleList | async)?.currentPage' url='/articles/list/' [per]='(articleList | async)?.perPage'></pagination>
