<container-block [title]='"Chat"' [center]='true'>
  <div id='chat-room' *ngIf='chats.length'>
    <ul class='nav nav-tabs'>
      <li *ngFor='let chat of chats' class='cursor-pointer' (click)='switchChatRooms(chat.id)'>
        <a [ngClass]='tabClassName(chat.id)'>{{ chat.title }}</a>
      </li>
    </ul>

    <div class='row'>
      <div class='col-xs-12 chat-header'>
        <bbcode-toolbar target='chatroom-textarea'></bbcode-toolbar>
        <div class='input-group'>
          <textarea [(ngModel)]='message' (keydown)='onKeyPress($event)' id='chatroom-textarea' class='form-control' placeholder='Message' rows='2'></textarea>
          <span class='input-group-addon cursor-pointer' (click)='onSend()'>
            <span class='glyphicon glyphicon-comment'></span>
          </span>
        </div>
      </div>
    </div>

    <div class='chat-message-container'>
      <div *ngFor='let message of chatMessages' class='chat-messages'>
        <div class='row'>
          <div class='col-xs-12 chat-message-header'>
            <span class='pull-left'>{{ message.user.username }}</span>
            <span class='pull-right'>{{ message.created_at }}</span>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12 chat-message-body'>
            <div [innerHTML]='parseBBcode(message)'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</container-block>
