<div class='user-avatar text-center' *ngIf='currentUser'>
  <img class='user-image cursor-pointer' [src]='currentUser.avatarUrl("small")' (click)='userMenuModal.modal.show()' />

  <div modal-partial #userMenuModal header='Avatar'>
    <img class='user-image-modal' [src]='currentUser.avatarUrl()' />
  </div>
</div>

<div class='list-group'>
  <div class='list-item'>
    <a routerLink='/users/list' routerLinkActive='active'>
      <span class='fa fa-users'></span>
      {{ 'menus.user.user_list' | translate }}
    </a>
  </div>

  <div class='list-item'>
    <a routerLink='/users/edit' routerLinkActive='active'>
      <span class='fa fa-user'></span>
      {{ 'menus.user.profile' | translate }}
    </a>
  </div>
</div>
