<div class='list-group'>
  <div class='user-avatar' *ngIf='currentUser.avatar'>
    <img class='user-image cursor-pointer' [src]='currentUser.avatarUrl("small")' (click)='playerListModal.modal.show()' />

    <div modal-partial #playerListModal header='Avatar' size='sm'>
      <img class='user-image-modal' [src]='currentUser.avatarUrl()' />
    </div>
  </div>

  <div class='list-item'>
    <a routerLink='/users/list' routerLinkActive='active'>
      <span class='fa fa-users'></span>
      User List
    </a>
  </div>

  <div class='list-item'>
    <a routerLink='/users/edit' routerLinkActive='active'>
      <span class='fa fa-user'></span>
      Profile
    </a>
  </div>
</div>
