#authorization-container
  #send-form.middle-of
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f|
      .grouped-form-element
        .form-group
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email'
      .circle-block.outer-circle.middle-of
        = f.button '', class: 'circle-block inner-circle middle-of fa fa-play'
    = render 'user/shared/links'
