<span>
  <span>{{ (currentTime | async) | date: 'jms' }}</span>

  <span class='cursor-pointer' *ngFor='let language of (preferences | async)?.languages' (click)='changeLanguage(language)'>
    {{ language | uppercase }}
  </span>
</span>

<span class='theme-picker pull-right'>
  <div class='cursor-pointer theme-color' [ngClass]='brightness' *ngFor='let brightness of (preferences | async)?.brightness' (click)='changeBrightness(brightness)'></div>
  <div class='cursor-pointer theme-color' [ngClass]='color' *ngFor='let color of (preferences | async)?.colors' (click)='changeColor(color)'></div>
</span>
