<div class='poll-block' *ngIf='poll'>
  <div class='poll-header'>{{ poll.title }}</div>

  <div class='poll-body' *ngFor='let question of questions'>
    <div class='poll-answers' *ngIf='answered'>
      <div>{{ question.question }}</div>

      <div class='poll-progress'>
        <div class='poll-progress-full' [style]='question.widthStyle'>
          {{ question.percent }}%
        </div>
      </div>
    </div>

    <div class='poll-questions' *ngIf='!answered'>
      <input id='answer-{{ question.id }}' class='radio-custom' name='radio-group' type='radio' [(ngModel)]='selectedQuestion' [value]='question.id'>
      <label [attr.for]='"answer-" + question.id'>{{ question.question }}</label>
    </div>
  </div>

  <div class='text-center'>
    <button class='btn btn-info pull-left' (click)='vote()' *ngIf='!answered'>Vote</button>
    <span class='poll-vote-count'>(total {{ totalAnswers }} {{ totalAnswers == 1 ? 'vote' : 'votes' }})</span>
  </div>
</div>
