#poll-page
  .poll-list-item
    background-color: $color-main-background
    padding: $size-default-container-space
    margin-bottom: $size-default-container-space
    &:hover
      background-color: rgba($color-main-background, 0.5)
  .poll-header, .poll-home-link
    margin-bottom: $size-default-container-space
