@import "other/_variables"

$color-main-shade-1:    $color-main-light-shade-1
$color-main-shade-2:    $color-main-light-shade-2
$color-main-background: $color-main-light-background
$color-main-dialogs:    $color-main-light-dialogs

@import "themes/brightness"

main#main-block
  .comments-section .comments-list .comments-item
    .comments-header, .comments-body
      border-color: $color-main-shade-1
    .comments-header
      background-color: $color-main-shade-1
