@import "other/_variables"

$color-main-shade-1:    $color-main-dark-shade-1
$color-main-shade-2:    $color-main-dark-shade-2
$color-main-background: $color-main-dark-background
$color-main-dialogs:    $color-main-dark-dialogs

$body-color: #BBBBBB

@import "themes/brightness"

body
  color: $body-color

a
  color: #008b8b
  &:active, &:focus, &:hover
    color: #2ea0a0

.form-control, .input-group-addon
  background-color: $color-main-background
  border-color: $color-main-shade-2
  color: inherit

.form-control:focus
  border-color: $color-main-shade-1
  box-shadow: none

.popover
  background-color: $color-main-dialogs
  &.top .arrow:after
    border-top-color: $color-main-dialogs
  &.bottom .arrow:after
    border-bottom-color: $color-main-dialogs

.modal-backdrop.in
  opacity: 0.3

main#main-block
  .comments-section .comments-list .comments-item
    .comments-header, .comments-body
      border-color: $color-main-shade-2
    .comments-header
      background-color: $color-main-shade-2
