@import "other/_variables"
@import "other/_helpers"

$color-main-primary: $color-themes-red-primary
$color-main-secondary: $color-themes-red-secondary

@import "themes/colors"

svg#red-footer
  display: block
  .color-main
    fill: $color-main-primary
  .color-background-1
    fill: #bc4565
  .color-background-2
    fill: #af3f5d
