@import "other/_variables"
@import "other/_helpers"

$color-main-primary: $color-themes-blue-primary
$color-main-secondary: $color-themes-blue-secondary

@import "themes/colors"

svg#blue-footer
  display: block
  .color-main
    fill: $color-main-primary
  .color-background-1
    fill: #1e8bc3
  .color-background-2
    fill: #2574a9
