<div class='monitor-section'>
  <div class='container-fluid'>
    <div class='monitor' *ngFor='let server of serverMonitors'>
      <span class='server-info' *ngIf='server.online'>
        <div class='server-options'>{{ server.name }}</div>
        <div class='server-options'>{{ server.ip }}:{{ server.port }}</div>
        <div class='server-options map-players-image-block'>
          <div class='player-block text-right'>
            <span class='player-count'>
              <a class='cursor-pointer' (click)='openPlayerList(server.players, playerListModal)'>
                {{ server.current_count }}/{{ server.total_count }}
              </a>
            </span>
          </div>

          <img src='{{ imagePath }}{{ server.map }}.jpg' (load)='onImageLoad($event)' (error)='onImageError($event)' alt='' />

          <span class='map-name'>{{ server.map }}</span>
        </div>
      </span>

      <span class='server-info' *ngIf='!server.online'>
        <div class='server-options'>{{ server.ip }}:{{ server.port }}</div>
        <div class='server-options'>server offline</div>
      </span>
    </div>
  </div>

  <modal-partial bsModal #playerListModal='bs-modal' class='modal fade' title='Players' size='sm'>
    <div class='row' *ngFor='let player of serverPlayers'>
      <div class='col-xs-12'>
        <span class='pull-left'>{{ player.name }}</span>
        <span class='pull-right'>{{ player.score }}</span>
      </div>
    </div>
  </modal-partial>
</div>
