!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %title HealWeb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %script{src: "/assets/core-js/client/shim.min.js"}
    %script{src: "/assets/zone.js/dist/zone.js"}
    %script{src: "/assets/reflect-metadata/Reflect.js"}
    %script{src: "/assets/systemjs/dist/system.src.js"}
    %script{src: "systemjs.config.js"}
    :javascript
      System.import('app').catch(function(err){ console.error(err); });
  %body
    %my-app
      Loading...
