body
  background-color: $color-main-background

main#main-block > #home-layout
  .center-column .container-block .container-header
    .container-title
      border-top-color: $color-main-dialogs
    .container-space
      border-top-color: $color-main-background
      .triangle
        border-color: transparent transparent transparent $color-main-dialogs

  .container-block
    background-color: $color-main-dialogs
  .left-column, .right-column
    .container-block
      user-menu .user-avatar img.user-image
        border-color: $color-main-background
        &:hover
          background-color: $color-main-background

  // Pages
  #chat-room
    .chat-message-container .chat-messages
      background-color: $color-main-background
      border-color: $color-main-shade-2
      .xbbcode-blockquote
        background-color: $color-main-dialogs
        border-color: $color-main-shade-1

  #poll-page
    .poll-list-item
      background-color: $color-main-background
      &:hover
        background-color: $color-main-shade-2

  #user-page .user-list
    .user-item
      img.user-image
        border-color: $color-main-background
      &:hover
        background-color: $color-main-background
        img.user-image
          background-color: $color-main-dialogs
          border-color: $color-main-dialogs

  // Elements
  .poll-block .poll-body .poll-progress
    background-color: $color-main-background
    .poll-progress-full
      color: $color-main-background

main#main-block
  .header-helper
    background-color: $color-main-dialogs
    .triangle
      &.pull-left
        border-color: transparent transparent transparent $color-main-background
      &.pull-right
        border-color: transparent $color-main-background transparent transparent
  .bbcode-toolbar .bbcode-button
    background-color: $color-main-shade-2
    border-color: $color-main-shade-1
    &:focus, &:active, &:hover
      background-color: $color-main-shade-1

  .btn
    background-color: $color-main-dialogs
    &.btn-danger, &.btn-warning, &.btn-success, &.btn-info, &.btn-generic, &.btn-default
      &:hover, &:active, &.active
        color: $color-main-dialogs

  .rate-section .rating-view .badge
    background-color: $color-main-background

  .comments-section .comments-list .comments-item
    .comments-body
      background-color: $color-main-background

  .nav.nav-tabs li > a
    &.active, &:hover, &:focus, &:active
      color: $color-main-dialogs

  datepicker table
    background-color: $color-main-background

  .notification-block .notification-container
    background-color: $color-main-dialogs
    border-color: $color-main-background

  textarea-partial .input-group .split-input-addon
    div.fa
      &:first-of-type
        border-bottom-color: $color-main-shade-2
      &:last-of-type
        border-top-color: $color-main-shade-2

  file-partial .file-container
    background-color: $color-main-background
    &:hover
      background-color: rgba($color-main-background, 0.5)
  label:hover + div
    file-partial .file-container
      background-color: rgba($color-main-background, 0.5)

footer
  .monitor-section .container-fluid .monitor
    .server-info
      border-color: $color-main-background
      background-color: $color-main-dialogs

.modal .modal-dialog .modal-content
  background-color: $color-main-dialogs
